body {
    padding: 0;
    overflow-x: hidden;
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

header,
footer {
    padding: 20px 50px;
}

#bloc-4-portfolio .row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.texture::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .05);
    background-size: 280px 280px;
}

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

h1,
h2,
p,
label,
a {
    font-weight: 400;
    color: #575757!important;
}

.container {
    max-width: 1000px;
}

.tight-width-whitespace {
    max-width: 600px;
    margin: auto;
}

.social {
    padding: 0 15px;
}

h2 {
    line-height: 1.4em;
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #333333!important;
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}

h1 {
    color: #333333!important;
}

p a {
    color: #FFFFFF!important;
    font-weight: 900;
    text-decoration: underline!important;
}

p a:hover {
    color: #cccccc!important;
}

.bg-banniere {
    background-image: url("img/la-chouette-agence-banniere.webp");
    background-color: #364577;
}

.bg-presentation {
    background-image: url("img/image-de-presentation.webp");
}

@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }
    .bloc-fill-screen .fill-bloc-top-edge {
        padding: 0 20px;
    }
}

@media (min-width: 768px) {
    .b-parallax {
        background-attachment: fixed;
    }
}

.black-background {
    background-color: rgba(165, 147, 99, 0.7);
    padding: 40px;
}

@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    h1,
    h2,
    h3,
    p {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
}

@media (max-width: 767px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-lg {
        padding: 40px 0;
    }
    .bloc-fill-screen .fill-bloc-top-edge {
        padding-left: 0;
        padding-right: 0;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-lg {
        margin-top: 30px;
    }
    form {
        padding: 10px;
    }
}